.arrow__link {
	display: block;
	width: 60px;
	height: 100px;
	background: transparent;
	z-index: 100;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%)!important;
	-moz-transform: translateX(-50%)!important;
	-ms-transform: translateX(-50%)!important;
	-o-transform: translateX(-50%)!important;
	transform: translateX(-50%)!important;
	border: 0;

	&:link,
	&:visited {
		@extend .arrow__link;
	}
}

.arrow--down {
	display: inline-block;
	width: 0px!important;
	height: 100px;
	background: #fff;
	position: absolute;
	z-index: 0;
	left: 50%;
	bottom: 2rem;
	font-size: 0;
	border-left:0px solid #fff;

	&:before {
		@include rotate(135deg);
		right: 7px;
	}
	&:after {
		@include rotate(45deg);
		left: 6px;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 1px;
		height: 20px;
		background: #fff;
		bottom: -3px;
	}
}

.scrollto {
	@include trans(200ms);
	padding: 1rem 0;
	font-size: 1.4rem;
	cursor: pointer;

	.text {
		@extend .small;
		letter-spacing: 0.06em;
	}

	&:hover {
		border-bottom: 1px solid #ccc;
		cursor: pointer;
	}
}

/* Grouped Buttons */
.buttons {
	list-style: none;
	line-height: 0;
	font-size: 2rem;
}

/* Button container */
.buttons__li {
	margin: 0;
	text-align: center;
	display: inline-block;
}

.button {
	color: $text4;
	text-decoration: none;
	@include prefix(box-sizing, border-box);
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	border: 0;
	@include trans(200ms);

	&:hover, &:link, &:visited {
		border: 0;
		cursor: pointer;
	}

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		@include prefix(transform, translate(-50%, -45%));
	}

	&--active {
		color: $text;
		background: $border3;
	}
}


@media (max-width: $breakpoint--sm) {

	.arrow__link {
		display: none;
	}
}