.intro {
	position: relative;
	overflow: hidden;
	font-size: 1.2rem;

	.intro__text {
		@extend .h2;
		margin: 8rem 6rem 8rem (100%/3)!important;
		color: #838383;
	}
}

@media (max-width: 768px) {

	.intro {

		.intro__text {
			margin: 8rem 6rem 8rem 6rem!important;
		}
	}
}