body {
	background: $bg3;
}

a, a:link {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	@include trans(100ms);
	color: $text2;
}

a:hover {
	color: $text;
	border-bottom: 1px solid $border;
}

a:visited, a:active {
	color: $text2;
}

hr {
	@extend .hr;
}

.hr {
	height: 1px;
	border: 0;
	background: $border3;
	margin: 4rem auto;
	
	&--mini {
		@extend .hr;
		width: 10%;
	}
}