body {
	background: #eee;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	@include trans(200ms);
	color: $text;

	&:link, &:visited, &:active {
		@extend a;
	}

	&:hover {
		border-bottom: 1px solid $border;
	}
}

hr {
	@extend .hr;
}

.hr {
	height: 1px;
	border: 0;
	background: $border3;
	margin: 4rem auto;
	
	&--mini {
		@extend .hr;
		width: 10%;
	}
}

::-moz-selection {
	background: rgba(68,68,68,0.2);
}
::selection {
	background: rgba(68,68,68,0.2);
}

