body {
	background: #f5f5f5;
}

a, a:link {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	@include trans(100ms);
	color: rgba(68,68,68,0.5);
}

a:hover {
	color: $text;
	border-bottom: 1px solid $border;
}

a:visited, a:active {
	color: $text;
}

hr {
	@extend .hr;
}

.hr {
	height: 1px;
	border: 0;
	background: $border3;
	margin: 4rem auto;
	
	&--mini {
		@extend .hr;
		width: 10%;
	}
}

::-moz-selection {
	background: rgba(68,68,68,0.2);
}
::selection {
	background: rgba(68,68,68,0.2);
}

