// .row--content {

// 	// .copy:after{
// 	// 	content: '';
// 	// 	display:block;
// 	// 	width:(100%/4);
// 	// 	height: 4rem;
// 	// 	background: rgba(255, 255, 255, 1);
// 	// 	margin-top: 8rem;
// 	// }
// }

.row {
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 8rem;
	@include clearfix;

	&--gray {
		background: #eee;
		@extend .row;
	}

	&--alignright {
		text-align: right;
		@extend .row;
	}

	&--alignleft {
		text-align: left;
		@extend .row;
	}

	&--with-border {
		border-bottom:1px solid rgba(127, 127, 127, 0.15);
		@extend .row;
	}

	&--content {
		@extend .row;
		min-height: 100vh;
		background: #e9e9e9;
	}
}

.col-1 {
	width: ((100%/12)*1);
}
.col-2 {
	width: ((100%/12)*2);
}
.col-3 {
	width: ((100%/12)*3);
}
.col-4 {
	width: ((100%/12)*4);
}
.col-5 {
	width: ((100%/12)*5);
}
.col-6 {
	width: ((100%/12)*6);
}
.col-7 {
	width: ((100%/12)*7);
}
.col-8 {
	width: ((100%/12)*8);
}
.col-9 {
	width: ((100%/12)*9);
}
.col-10 {
	width: ((100%/12)*10);
}
.col-11 {
	width: ((100%/12)*11);
}
.col-12 {
	width: ((100%/12)*12);
}

.col-1, 
.col-2, 
.col-3, 
.col-4, 
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float: left;
	text-align: left;
	display: block;
	min-height: 100px;
	overflow: hidden;
}

/*--------------------------------------------------------------
# M E D I A   Q U E R I E S
--------------------------------------------------------------*/
@media (max-width: $breakpoint--lg) {
	.row {
		padding: 6rem;
	}
}

@media (max-width: $breakpoint--md) {
	.row {
		padding: 5rem;
	}
}

@media (max-width: $breakpoint--sm) {
	.row {
		padding: 4rem 2rem;
	}
}