.main {
	margin: 0 90px 0 0;
	height: 100%;
	position: relative;
	z-index: 0;
	background: #fff;
	@include clearfix;

	&__cover {
		background: #000;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: e-resize;
	}
}


.window {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


@media (max-width: $breakpoint--lg) {
	.main { 
		margin-right: 81px;
		z-index: 10;
	}
}

@media (max-width: $breakpoint--sm) {
	.main { 
		margin: 0;
		padding-top:0;
		background-size:cover;
		z-index: 0;
	}
	.window {
		padding: 0!important;
	}
}