// TYPOGRAPHY
html {
	font-size: 62.5%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	@include prefix(font-smoothing, antialiased);	
}

body {
	font: 400 1.6rem/1.25em $font1;
	color: $text;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1rem;
	line-height: auto;
}

b, strong {
	font-weight: 600;
}

i, em {
	font-style: italic;
}

p, dl {
	padding-top: 0.26em;
	margin-bottom: 0.98em;
}

dt {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:0.1em;
	line-height: 1.2em;
}

dd {
	margin: 0 0 2rem 0;
}

.h1, h1 {
	font: 700 6rem/1em $font2;
	margin-bottom: 0;
	padding: 0;
}

.h2, h2 {
	font: 100 5.4rem/0.94em $font1;
	margin-bottom: 0.18em;
	padding: 0.14em 0 0 0;
	text-align: left;
}

.h3, h3 {
	font: 100 4rem/0.94em $font2;
	margin-bottom: 0.86em;
	padding: 0.38em 0 0 0;
}

.p {
	font: 400 1.4rem/1.4em $font1;
	background: none;
	padding-top: 0.26em;
	margin-bottom: 0.98em;
}

.small {
	font: 400 1.2rem/1.4em $font1;
	padding-top: 0.4em;
	margin-bottom: 1em;
}

.fineprint {
	font: 400 1rem/1.6em $font2;
	padding-top: 0.5em;
	margin-bottom: 1em;
	letter-spacing: 0.01em;
}

.break { display: none; }


@media (max-width: $breakpoint--md) {
	.h2, h2 {
		font: 100 3.6rem/1.2em $font2;
		color: #444;
	}
} 

@media (max-width: $breakpoint--sm) {
	.h2, h2 {
		font-size: 4rem;
		line-height: 1em;
	}
} 