.no-js .main,
.no-js .item__header,
.no-js .window { display: block; }

.window {
	margin-left: 4%;
	height: 100%;
	position: fixed;
	right: 0px;
	padding-right:100px!important;
	width: 100%;
	@include prefix(overflow-scrolling, touch);
}


.mck {
	margin: 120px 0 240px -240px;

	img {
		position: relative;
		top: 0;
		left: 0;
	}

	img:last-child {
		margin: -2% 0 0 2%;
	}
}

.main {
	margin: 0 88px 0 0;
	height: 100%;
	position: relative;
	background: #fff;
	@include clearfix;
	@include shadow(#000000, 20);

	&__cover {
		background: #000;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: e-resize;
	}
}

.row {
	width: 100%;
	padding: 12rem 0rem;
	position: relative;
	text-align: center;
	overflow: hidden;

	&--gray {
		background: #eee;
		@extend .row;
	}

	&--alignright {
		text-align: right;
		@extend .row;
	}

	&--alignleft {
		text-align: left;
		@extend .row;
	}

	&--with-border {
		border-bottom:1px solid rgba(127, 127, 127, 0.15);
		@extend .row;
	}
}

.col-1 {
	width: ((100%/12)*1);
}
.col-2 {
	width: ((100%/12)*2);
}
.col-3 {
	width: ((100%/12)*3);
}
.col-4 {
	width: ((100%/12)*4);
}
.col-5 {
	width: ((100%/12)*5);
}
.col-6 {
	width: ((100%/12)*6);
}
.col-7 {
	width: ((100%/12)*7);
}
.col-8 {
	width: ((100%/12)*8);
}
.col-9 {
	width: ((100%/12)*9);
}
.col-10 {
	width: ((100%/12)*10);
}

.col-11 {
	width: ((100%/12)*11);
}
.col-12 {
	width: ((100%/12)*12);
}

.col-1, 
.col-2, 
.col-3, 
.col-4, 
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	float: left;
	text-align: left;
	display: block;
	min-height: 100px;
	overflow: hidden;
	padding: 25px;
	
	&:before,
	&:after {
		clear:both;
	}
}




@media (max-width: 768px) {
	.mck {
		margin: 100px 0 240px -360px;
	}
}