@media (max-width: 480px) {
	body {
		padding-top: 48px;
		overflow-y: scroll; 
  		-webkit-overflow-scrolling: touch;
	}

	.nav {
		top: 0;
		// height: auto;
		// width: auto;
		height: 48px;
		width: 100%;
		z-index: 100;
		background: rgba(238, 238, 238, 1);
		border-bottom: 0px solid rgba(100, 100, 100, 0.2);
		border-left: 0;
		text-align: right;

		.brand {
			width: 48px;
			display: inline-block;
			// margin: 1.4rem 0.8rem;
			margin: 1rem 6rem 1rem 2.4rem;


			.logo {
				margin: 0;
				width: 44px;
			}
		}

		& > .project-nav {
			display: none;
		}
	}

	.global-nav {
		width: 48px;
		position: absolute;
		top: 0;
		right: 0;

		&__li {
			border-left: 1px solid #ccc;
		}

		&__link {
			height: 48px;
			padding: 14px 0 0 0;
			-webkit-border-radius: 0px;
			   -moz-border-radius: 0px;
				-ms-border-radius: 0px;
					border-radius: 0px;
		}
	}

	.main {
		margin: 0;
		@include shadow(#888,0);
		// margin-right: 64px;
		// -webkit-box-shadow: none;

		article {
			font-size: 1.4rem;
			line-height: 0em;

			img {
				max-width: 100%;
			}
		}

		.content-holder {
			border-top: 1px solid #ddd;
		}
	}

	.intro {

		.intro__text {
			margin: 2rem 2rem 4rem!important;
			text-align: left;
			font-size: 4rem;
			line-height:1.14em;
		}

		.button-projects {
			position: absolute; 
			right: 0;
			bottom: -100px; 
			z-index:300;
		}
	}

	.projects {
		z-index: 100!important;
	}

	.item {
		width: 100%;
	}

	.wallpaper {
		height: 27.4rem;
		
		.project-logo {
			width: 180px;
			height: auto;
			top: 48%;
		}

		&__image-holder {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		&__image {
			width: 190%;
			height: auto;
			margin-left: -45%;
			z-index: 0!important;
		}

		&__image-kokko {
			width: 180%;
			margin-left: -80%;
		}

		&__image-kenton {
			width: 240%;
			margin-left: -140%;
		}

		&__image-oakandfort {
			width: 190%;
			margin-left: 0%;
		}

		&__image-arrivehome {
			width: 190%;
			margin-left: -30%;
		}

		&__image-pekarskystein {
			width: 200%;
			margin-left: -50%;
		}

		&__image-stringamdenecky {
			width: 260%;
			margin-left: -30%;
		}

		&__image-artesia {
			width: 200%;
			margin-left: 0%;
		}

		&__image-cityofvancouver {
		}

		&__image-onegoodidea {
			width: 220%;
			margin-left: -60%;
		}
	}

	.wallpaper--onegoodidea {
		.project-logo {
			width: 160px;
			top: 60%;
		}
	}

	.wallpaper--kokko {
		.project-logo {
			width: 140px;
			top: 50%;
		}
	}

	.row {
		padding: 4rem 0;
	}

	.copy {
		// padding: 0 3.2rem;
		padding: 0 2.4rem;
		margin: 0 auto;
		font-size: 1.4rem;
		line-height: 1.48em;

		dl dt {;
			letter-spacing:0.1em;
			line-height: 1.48em;
		}
		 
		dl dd {
		}
	}

	.browser {

		&:before {
			font-size: 3rem;
			height: 15px;
			@include border-radius(2px, 2px, 0, 0);
			padding: 0 0 0 0.4rem;
		}
	}
	

	.button {	
		text-align: center;
		text-decoration: none;
		@include trans(200ms);
		color: $text4;
		background: $border3;

		&:link, &:active, &:visited {
			border: 0;
		}
	}

	.project-nav {
		position: relative;
		width: 100%;
		border-top: 1px solid #ccc;
	}

	.project-nav__li {
		width: 20%;
	}
	
	.project-nav__li--index {
		width: 20%;
	}
	.project-nav__li--prev {
		width: 40%;
	}

	.project-nav__li--next {
		width: 40%;
		float: right;
	}

	.project-nav__link {
		width: 100%;
		height: 48px;
		padding-top: 13px;
		border-bottom: 0;
	}

	.project-nav--two {
		.project-nav__li {
			width: 50%;
		}
	}

	.content-holder {
		top: 48px;
		position: fixed;
		padding-bottom: 6rem;
		overflow-y: scroll; 
  		-webkit-overflow-scrolling: touch;
	}

	.content {
		margin: 0 auto;
		padding: 2.4rem;
	}

	.content__col {
		// border-right: 1px solid #ccc;
		// border-left: 1px solid #fff;
		float: none;	

		&--about {
			width: 100%;
			border-left: 0;
			font-size: 1.6rem;
			line-height: 1.48em;
			margin: 0 auto;
			padding-bottom: 6rem;
		}

		&--experience {
			color: #888;
		}

		&--contact {
			padding-bottom: 6rem;
		}
	}
	.break { display:block;}

	.scrollme {
		overflow-y: scroll; /* has to be scroll, not auto */
	 	-webkit-overflow-scrolling: touch;
	}
}