@media (max-width: 1023px) {

	.intro {
		.intro__text {
			margin: 6rem 6rem 6rem 8rem;
		}
	}

	.item {
		width: 50%;

		&--spacer, &--spacer--gray {
			display: none;
		}
	}

	.row {
		padding: 8rem 0;
	}

	.content {
		margin: 0 100px 0 10%;
	}
}

@media (max-width: 768px) {
	
	.copy {
		font-size: 1.6rem;
		padding: 0rem 10rem;
	}

	.image {
		padding: 10%;
	}
}