// TYPOGRAPHY
html {
	font-size: 62.5%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	@include prefix(font-smoothing, antialiased);	
}

body {
	font: 400 1.6rem/1.25em $font1;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1rem;
	line-height: auto;
}

b, strong {
	font-weight: 600;
}

i, em {
	font-style: italic;
}

p {
	padding-top: 0.26em;
	margin-bottom: 0.98em;
}

dl {
	padding-top: 0.26em;
	margin-bottom: 0.98em;
}

dd {
	margin: 0 0 2rem 0;
}


.h1 {
	font: 600 5em/1em $font2;
	margin-bottom: 0;
	padding: 0;
}

.h2 {
	font: 100 4em/0.94em $font1;
	margin-bottom: 0.18em;
	padding: 0.14em 0 0 0;
}

.h3 {
	font: 400 2em/1.25em $font2;
	margin-bottom: 0.86em;
	padding: 0.38em 0 0 0;
}

.small {
	font: 400 0.9em/1.4em $font1;
	padding-top: 0.4em;
	margin-bottom: 1em;
}

.fineprint {
	font: 400 0.8em/1.6em $font2;
	padding-top: 0.5em;
	margin-bottom: 1em;
	letter-spacing: 0.01em;
}

.p {
	@extend body;
	background: none;
	padding-top: 0.26em;
	margin-bottom: 0.98em;
}

.break { display: none; }