// Typography
$primary: "proxima-nova", Arial, sans-serif;
$secondary: "minion-pro", "Times New Roman", Georgia, serif;

// Color Scheme
$text-color: #444;
$body-bg: #ececec;

// Layout


// Breakpoints