.brand {
	font-size: 0;
	width: 100%;
	display: block;
	margin: 0;
	right: 0;
	top: 0;

	&:after {
		content: '';
		width: 64%;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		display: block;
		margin: 0.8rem auto;
	}
}

.brand__link {
	display: inline-block;
	height: 31px;
	width: 56px;
	border: 0;
	
	&:link, &:hover, &:active, &:visited {
		border:0;
	}
}

.logo {
	display: inline-block;
	height: 31px;
	width: 56px;
	@include opacity(1);
	@include prefix(box-sizing, border-box);
}


@media (max-width: $breakpoint--sm) {
	.brand {
		&:after {
			display: none;
		}
	}
}
