.brand {
	font-size: 0;
	width: 100%;
	display: block;
	margin: 0;
	right: 0;
	top: 0;
	padding-top: 2.4rem;

	&:after {
		content: '';
		width: 64%;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
		display: block;
		margin: 0.8rem auto;
	}

	img {
		width: 100%;
	}
}

.brand__link {
	display: inline-block;
	border: 0;
	
	&:link, &:hover, &:active, &:visited {
		border:0;
	}
}

.logo {
	display: inline-block;
	height: 31px;
	width: 56px;
	@include opacity(1);
	@include prefix(box-sizing, border-box);
}


@media (max-width: $breakpoint--md) {
	.brand {

		&:after {
			display: none;
		}
	}
}

@media (max-width: $breakpoint--sm) {
	.brand {
		width: 60px;
		height: 48px;
		padding: 0;
		position: absolute;
		right: 49px;
		padding: 1.1rem 1rem 0 0;

		&:after {
			display: none;
		}

		img {
			width: 50px;
			height: 25px;
		}
	}
}
