#loadbar {
	@include prefix(transform, translateX(-90px));
}

@media (max-width: $breakpoint--lg) {
	#loadbar {
		@include prefix(transform, translateX(-81px));
	}
}

@media (max-width: $breakpoint--sm) {
	#loadbar {
		top: 48px!important;
		height: 2px!important;
		position: relative;
		@include prefix(transform, translateX(0));
	}
}