.nav {
	width: 90px;
	text-align: center;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
	background: #eee;
}

/*--------------------------------------------
# M E D I A   Q U E R I E S
--------------------------------------------*/

@media (max-width: $breakpoint--lg) {
	.nav {
		width: 81px;
	}
}

@media (max-width: $breakpoint--sm) {
	.nav {
		height: 48px;
		width: 100%;
		top: 0;
		z-index: 10;
		background: #eee;
		padding: 0;
	}
}