.nav {
	width: 88px;
	text-align: center;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	z-index: 2;
}

/*--------------------------------------------------------------
# M E D I A   Q U E R I E S
--------------------------------------------------------------*/

@media (max-width: $breakpoint--lg) {
	.nav {
		width: 80px;
	}
}

@media (max-width: $breakpoint--sm) {
	.nav {
		height: 44px;
		width: 100%;
		top: 0;
		z-index: 10;
		background: #f5f5f5;
		padding: 0;
	}
}