.content {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.4rem;
	margin-left: 4%;
}

.employer {
	a, a:link, a:visited {
		font-weight: 700;
		border: 0;
	}
}

.title {
	font-size: 1rem;
	font-weight: 700;
	color: rgba(0,0,0,0.2);
	margin-bottom: 1rem;
	letter-spacing: 0.04rem;
}

.content__col {
	float: left;
	padding: 0 2%;
	border-right:1px solid #ccc;
	border-left:1px solid #fff;
	min-height: 340px;

	&:first-child {
		border-left: 0;
	}

	&:last-child {
		border-right: 0;
	}

	&--about {
		font-size: 1.6rem;
		line-height: 1.48em;
		padding-right: 2%;
		max-width: 500px;
	}

	&--experience {
		width: 280px;
	}

	&--contact{
		width: 180px;
	}
}


@media (max-width: $breakpoint--lg) {

	.content {
		bottom: none;
		top: 0;
		max-width: 480px;
		padding-top: 4rem;
	}

	.content__col {
		min-height: 0;
		border: 0;
		width: 480px;
		padding-bottom: 4rem;
	}
}

@media (max-width: $breakpoint--md) {

	.content__col {

		&--about {
			font-size: 1.8rem;
		}

		&--content {
			padding-bottom: 8rem;
		}
	}

}

@media (max-width: $breakpoint--sm) {
	
	.content {
		margin: 0;
		padding-top: 60px;
	}
	.content__col {
		width: 100%;
		padding: 0 2rem 4rem 2rem;

		&--about {
			font-size: 1.6rem;
		}

		&--contact {
			padding-bottom: 8rem;
		}
	}

}


