.intro {
	position: relative;
	overflow: hidden;

	.intro__text {
		@extend .h2;
		margin: 8rem 6rem 8rem (100%/3)!important;
		font-size: 4.8rem;
		color: #888;
	}
}

@media (max-width: $breakpoint--lg) {

	.intro {
		.intro__text {
			margin: 9rem 6rem 9rem 6rem!important;
		}
	}
}

@media (max-width: $breakpoint--sm) {

	.intro {
		margin: 4.8rem 0 2rem 0;

		.intro__text {
			margin: 2rem!important;
		}

		.break {
			display: block;
		}
	}
}