.copy {
	text-align: left;
	padding: 10rem 0;
	font-size: 1.4rem;
	line-height: 1.4em;
	color: rgba(255, 255, 255, 0.8);

	// p:first-child {
	// 	@extend .h3;
	// }

	a, a:link, a:visited {
		color: rgba(255, 255, 255, 0.8);
	}

	&__brief {
		float: left;
		width: ((100%/12)*7);
		padding: 0 2%;
		@include prefix(column-count, 2);
		@include prefix(column-gap, 40px);

		.h2 {
			@include prefix(column-span, all);
			display: block;
		}
	}

	&__moreinfo {
		float: right;
		padding: 0 2%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: ((100%/12)*3);
	}

	hr {
		border: 0;
		height: 1px;
		background: rgba(255, 255, 255, 0.1);
		padding: 0;
		margin: 0rem 0 2rem 0;
	}

	dt {
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing:0.2em;
		@include opacity(0.2);
		line-height: 1.2em;
	}

	dd {
		margin: 0 0 2rem 0;
	}
}

@media (max-width: 480px) {
	.copy {
		margin:0;
		width: 100%;
		line-height: 1.6em;
	}
}