.text-col-2 {
	@include prefix(column-count, 2);
	@include prefix(column-gap, 40px);
}

.copy {
	text-align: left;
	font-size: 1.4rem;
	line-height: 1.4em;
	color: rgba(0, 0, 0, 0.5);
	@include clearfix;
	
	.h2 {
		margin-bottom: 4rem;
		color: rgba(68, 68, 68, 1);
	}

	&__brief {
		float: left;
		width: ((100%/12)*7);
	}

	&__moreinfo {
		float: right;
		width: ((100%/12)*2);
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	dt {
		color: rgba(0, 0, 0, 0.5)
	}

	dd {
		border-bottom: 1px solid rgba(68,68,68,0.1);
		padding-bottom: 1rem;

		&:last-child {
			border:0;
		}
	}
}

// .arrow__link { display: none;}


@media (max-width: $breakpoint--lg) {

	.copy__brief {
		width: 100%;
	}

	.copy__moreinfo {
		float: left;
		margin-top: 6rem;
		padding: 0 4rem 0 0;
		width: 50%;
		clear:both;
	}
	
	.row--content {
		.h2 {
			width: 100%;
		}
	}
}

@media (max-width: $breakpoint--md) {
	.text-col-2 {

	}
	.copy__brief {
		width: 100%;
	}

	.row--content {
		height: auto!important;
	}

	.text-col-2 {
		@include prefix(column-count, 1);
	}
}

@media (max-width: $breakpoint--sm) {
	
	.h2 {
		font-size: 4rem;
		line-height: 1em;
		margin-bottom: 1rem;
	}

	.copy__brief {
		width: 100%;
	}

	.copy__moreinfo {
		width: 50%;
		margin-top: 4rem;
		padding: 0;
	}

	.copy {
		margin:0;
		width: 100%;
		line-height: 1.4em;

		.h2 {
			margin-bottom: 2rem;
		}
	}

	
}