.wallpaper--kokko {
	.project-logo {
		width: 240px!important;
	}
}

.wallpaper--kenton .project-logo {

}

.wallpaper--arrivehome > .project-logo {
	width: 240px!important;
}


.row--content {
	min-height: 80vh;
	@include clearfix;
	background: #222;
}

.project--kokko .row--content {
	background: rgba(34,34,34,0.96);
}

.project--kenton .row--content {
	background: #444;
}

.project--oakandfort .row--content {
	background: #aeaeae;
}


.project--arrivehome .row--content {
	background: rgba(111,102,139,0.9);
}

.project--pekarskystein .row--content {
	background: #dfe0dd;

	.copy {
		color: #53534a;
	}

	.h2 {
		color: #559cbe;
	}
	
}