// .wallpaper--kokko {
// 	background: #13171b;
// }

// .wallpaper--kenton {
// 	background: #444;
// }

// .wallpaper--artesia {
// 	background: #2b2a44 /* #343255 */;
// }

// .wallpaper--cityofvancouver {
// 	background: #444;
// }

// .wallpaper--stringamdenecky {
// 	background: #82290d;
// }

// .wallpaper--arrivehome {
// 	background: #605315;
// }

// .wallpaper--pekarskystein {
// 	background: #dfe0dd;
// }

// .wallpaper--oakandfort {
// 	background: #ababad;
// }


@media (max-width: $breakpoint--lg) {
	.wallpaper--oakandfort .wallpaper__image-holder {
		background-position-x: 0!important;
	}

	.wallpaper--arrivehome .wallpaper__image-holder {
		background-position-x: 30%!important;
	}
}

@media (max-width: $breakpoint--md) {
	.wallpaper--oakandfort .wallpaper__image-holder {
		background-position-x: 20%!important;
	}
}

@media (max-width: $breakpoint--sm) {

	.wallpaper--stringamdenecky .wallpaper__image-holder {
		background-position-y: -100px!important;
	}

	.wallpaper--arrivehome .wallpaper__image-holder {
		background-position-y: -80px!important;
	}

	.wallpaper--cityofvancouver .wallpaper__image-holder {
		background-position-y: -96px!important;
	}
}