.wallpaper {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #222;

	.project-logo {
		position: absolute;
		z-index: 1;
		display: block;
		width: 240px;
		top: 50%;
		left: 50%;

		img {
			width: 100%;
			margin-left: -50%;
			margin-top: -50%;
			// @include prefix(transform, translate(-50%,-50%));
		}
	}

	&__image-holder {
		width: 100%;
		height: 100vh;
		@include prefix(background-size, cover);
		background-attachment: fixed;
		background-position: top center;
		background-repeat: no-repeat;
		background-position-x: center!important;
	}

	&__image {
		width: auto;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
	}	
}

/*--------------------------------------------------------------
# M E D I A   Q U E R I E S
--------------------------------------------------------------*/

@media (max-width: $breakpoint--md) {
	.wallpaper {
		height: 100vh;
		top: 0;

		&__image-holder {
			@include prefix(background-size, cover);
			background-position: top center;
			// position: fixed!important;
		}

	}
}

@media (max-width: $breakpoint--sm) {
	.wallpaper {
		height: 260px;

		.project-logo {
			width: 140px;
		}

		&__image-holder {
			background-attachment: initial;
		}
	}
}